{% extends 'hosts/dashboard.html' %}

{% block content_panel %}
    {% include 'hosts/host_list_component.html' %}
    {#    批量命令输入框#}
<div class="col-md-9">
    <div class="panel panel-default panel-right">
        <div class="panel-body">

            {% include 'hosts/task_exec_compontent.html' %}
{#                输入命令为空或者没有选择主机返回的出错信息#}
            <div id="err-msgs"></div>
            <hr/>

            <div id="result-box"></div>

        </div>
    </div>
</div>
{% endblock %}

{#js代码段开始了#}
{% block bottom-js %}
{% include 'hosts/multi_task_js_componet.html' %}
{% endblock %}